body{
    text-align: center;
    background-color: rgb(6, 28, 56);
}
h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    margin: 2% auto 4%;
    color: rgb(225, 239, 186);
}
.row{
    margin: auto;
}

.play-btn{
    margin: 3% auto;
    width: 200px;
    height: 200px;
    border: 10px black solid;
    border-radius: 45px;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
.game-over {
background-color: red;
opacity: 0.8;
}

/* for small screens */
@media (max-width: 900px){
    .play-btn{
        margin: 2% auto;
        width: 150px;
        height: 150px;
        border: 10px black solid;
        border-radius: 45px;
    }
    h1{
        font-size: 3rem;
        margin-bottom: 30%;
    }
}
